<body>
    <div class="container text-center customForm">
        <h2>Relatorio Especifico</h2>
        <h3>Disciplina - {{disciplina.nome}}</h3>
        <div class="container-lg div_card_expandido text-center">
            <label>Média da Disciplina</label>
            <button id="toggleButton">Expandir</button>
            <div id="expandableDiv" class="expandable">
                <ul class="list-group">
                    {{#each dadosRelatorios.perguntasQuestionario}}
                    <li class="list-group-item active">
                        <label>Pergunta</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_01}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_02}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_03}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_04}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_05}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_06}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_07}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{pergunta_08}}</label>
                    </li>
                    {{/each}}
                </ul>
                <ul class="list-group">
                    {{#each dadosRelatorios.mediaPorPerguntaDisciplina}}
                    <li class="list-group-item active">
                        <label>Nota média</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta01}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta02}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta03}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta04}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta05}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta06}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta07}}</label>
                    </li>
                    <li class="list-group-item">
                        <label>{{mResposta08}}</label>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById("toggleButton").addEventListener("click", function () {
        var div = document.getElementById("expandableDiv");
        if (div.classList.contains("expanded")) {
            div.classList.remove("expanded");
            this.textContent = "Expandir";
        } else {
            div.classList.add("expanded");
            this.textContent = "Recolher";
        }
    });
</script>