<body>
    <div class="container text-center customForm">
        <h2>Relatorio Especifico</h2>
        <h3>Disciplina - {{disciplina.nome}}</h3>
        <div class="container-lg div_card_expandido text-center">
            <div id="divExpansivel">
                <label>Média da Disciplina</label>
                <button id="toggleButton">Expandir</button>
            </div>
            <div id="expandableDiv" class="expandable">
                <table class="table">
                    {{#each dadosRelatorios.dadosConjuntos}}
                    <tbody>
                        <tr>
                            <td class="colunasHeader colunaPerguntaRelatorio">Pergunta</td>
                            <td class="colunasHeader">Média</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_01}}</td>
                            <td>{{this.medias.media_01}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_02}}</td>
                            <td>{{this.medias.media_02}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_03}}</td>
                            <td>{{this.medias.media_03}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_04}}</td>
                            <td>{{this.medias.media_04}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_05}}</td>
                            <td>{{this.medias.media_05}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_06}}</td>
                            <td>{{this.medias.media_06}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_07}}</td>
                            <td>{{this.medias.media_07}}</td>
                        </tr>
                        <tr>
                            <td class="colunaPerguntaRelatorio">{{this.perguntas.pergunta_08}}</td>
                            <td>{{this.medias.media_08}}</td>
                        </tr>
                    </tbody>
                    {{/each}}


                </table>
            </div>
        </div>
        <div class="container container-info" style="margin-top: 30px">
            <h2>Sugestões de IA</h2>
            <a id=" linkIa" href="#" class="btn btn-primary" onclick="enviarObjeto()">Sugestões de IA</a>
            <div class="row" style="padding-top: 10px;">
                <label id="resultado"></label>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById("toggleButton").addEventListener("click", function () {
        var div = document.getElementById("expandableDiv");
        var divExpansivel = document.getElementById("divExpansivel");
        if (div.classList.contains("expanded")) {
            div.classList.remove("expanded");
            this.textContent = "Expandir";
            divExpansivel.style.paddingBottom = "0px";
        } else {
            div.classList.add("expanded");
            this.textContent = "Recolher";
            divExpansivel.style.paddingBottom = "25px";
        }
    });

    function enviarObjeto() {
        const dadosRelatorios = {
            mediaAlunosDisciplina: '{{{json dadosRelatorios.mediaAlunosDisciplina}}}',
            mediaAlunosCurso: '{{{json dadosRelatorios.mediaAlunosCurso}}}',
            perguntasaQuestionario: '{{{json dadosRelatorios.perguntasQuestionario}}}',
            mediaPorPerguntaDisciplina: '{{{json dadosRelatorios.mediaPorPerguntaDisciplina}}}'
        }

        fetch('/relatorio/indexCpa/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(dadosRelatorios),
        })
            .then(response => response.json())
            .then(data => {
                const resultadoDiv = document.getElementById('resultado');
                resultadoDiv.innerHTML = data.retornoPrompt.replace(/\n/g, '<br>');
            }).catch((error) => {
                console.error('Error:', error);
            });
    }
</script>